/* This file is for your main application css. */

@import './phoenix.css';

.buttons-wrapper {
  overflow: hidden; /* will contain if #first is longer than #second */
}
.button-first {
  width: 300px;
  float: left; /* add this */
}
.button-second {
  overflow: hidden; /* if you don't want #second to wrap below #first */
}
    