<section class="row">
  <article class="column">
    <h2>Menu</h2>
    <ul>
      <li>
        <a href="/watching">See watching repos by username</a>
      </li>
      <li>
        <a href="/star">See starred repos by username</a>
      </li>
    </ul>
  </article>
</section>

<%= form_tag(Routes.watching_path(@conn, :index), method: :post) do %>
    <p class="form-actions">
      
    </p>
<% end %>